.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #c60d0d !important;
}

.mdc-evolution-chip__checkmark-svg {
  color: white !important;
}

::ng-deep {
  .mat-mdc-tab-body-content {
    overflow-y: hidden !important;
  }
  .mat-mdc-tab-header {
    margin-bottom: 20px;
  }
}
