<app-title-card>Isporučeno</app-title-card>
<mat-tab-group (selectedIndexChange)="setActiveTab($event)">
  <mat-tab label="Poručeno na godišnjem nivou">
    <app-orders-chart-yearly [orders]="productOrders()"/>
    <!-- <app-chart-line
      [data]="orderYearsValues()"
      [opt]="productOrdersOptionsLineChart()"
    /> -->
  </mat-tab>
  <mat-tab label="Poručeno na mesečnom nivou">
    @if(activeTab() == 1) {
    <app-orders-chart-monthly [orders]="productOrders()" />
    }
  </mat-tab>
</mat-tab-group>
