<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex gap-4">
    <mat-form-field class="w-1/2">
      <mat-label>Naziv proizvoda</mat-label>
      <input formControlName="name" matInput value="" />
    </mat-form-field>

    <mat-form-field class="w-1/2">
      <mat-label>Količina</mat-label>
      <input formControlName="quantity" matInput value="" />
    </mat-form-field>
  </div>
  <div class="flex gap-4">
    <mat-form-field class="w-1/2">
      <mat-label>Kapacitet proizvoda u magacinu</mat-label>
      <input formControlName="capacity" matInput value="" />
    </mat-form-field>
    <div class="w-1/2"></div>
  </div>
  <button mat-flat-button type="submit">Potvrdi</button>
</form>
