@if(chartOptions().chart.type === 'bar') {
<apx-chart
  #chartObj
  [series]="chartOptions().series"
  [chart]="chartOptions().chart"
  [xaxis]="chartOptions().xaxis"
  [colors] = "['#eb1616', '#388e3c', '#2E294E', '#F46036', '#E2C044']"
/>
} @else if (chartOptions().chart.type === 'pie') {
<apx-chart
  #chartObj
  [series]="chartOptions().series"
  [chart]="chartOptions().chart"
  [labels]="chartOptions().labels"
  [dataLabels]="chartOptions().dataLabels"
  [tooltip]="chartOptions().tooltip"
  [legend]="chartOptions().legend"
  [colors] = "['#eb1616', '#388e3c', '#2E294E', '#F46036', '#E2C044']"
/>
}
