<div class="row grid gap-4">
  <app-card>
    <h6 class="mb-2 text-xl font-bold">Klijenti</h6>
  </app-card>
  <app-card>
    <app-title-card>Dodaj klijenta</app-title-card>
    <app-client-form (submitEmit)="onSubmit($event)" />
  </app-card>
  <app-card>
    <app-title-card>Lista klijenata</app-title-card>
    <div class="">
      <table mat-table [dataSource]="dataSource">
        <!-- # Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}.</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Klijent</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id === editElement?.id) {
            <mat-form-field (click)="$event.stopPropagation()" >
              <mat-label>Naziv proizvoda</mat-label>
              <input matInput [(ngModel)]="editElement!.name" />
            </mat-form-field>
            } @else {
            {{ element.name }}
            }
          </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Adresa</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id === editElement?.id) {
            <mat-form-field (click)="$event.stopPropagation()">
              <mat-label>Adresa</mat-label>
              <input matInput [(ngModel)]="editElement!.address" />
            </mat-form-field>
            } @else {
            {{ element.address }}
            }
          </td>
        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Kontakt</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id === editElement?.id) {
            <mat-form-field (click)="$event.stopPropagation()">
              <mat-label>Kontakt</mat-label>
              <input matInput [(ngModel)]="editElement!.contact" />
            </mat-form-field>
            } @else {
            {{ element.contact }}
            }
          </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Napomena</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id === editElement?.id) {
            <mat-form-field (click)="$event.stopPropagation()">
              <mat-label>Napomena</mat-label>
              <input matInput [(ngModel)]="editElement!.note" />
            </mat-form-field>
            } @else {
            {{ element.note }}
            }
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="w-36 !text-right">
            <div class="inline mr-8">
              @if(element.id == editElement?.id) {
              <button (click)="onCancel(); $event.stopPropagation()" class="mr-2">
                <mat-icon class="text-red-700">cancel</mat-icon>
              </button>
              <button (click)="onEditClientConfirmed(); $event.stopPropagation()">
                <mat-icon class="text-green-700">check_circle</mat-icon>
              </button>
              } @else {
              <button (click)="onEditClient(element); $event.stopPropagation()">
                <mat-icon class="text-green-700">edit</mat-icon>
              </button>
              }
            </div>
            <button (click)="onDeleteClient(element.id); $event.stopPropagation()">
              <mat-icon class="text-red-700">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          (click)="navigate(row.id)"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </app-card>
</div>
