<app-title-card>Isporučeno</app-title-card>
<mat-tab-group (selectedIndexChange)="setActiveTab($event)">
  <mat-tab label="Isporučeno na godišnjem nivou">
    <app-chart-line
      [data]="orderYearsValues()"
      [opt]="productOrdersOptionsLineChart()"
    />
  </mat-tab>
  <mat-tab label="Isporučeno na mesečnom nivou">
    @if(activeTab() == 1) {
    <mat-chip-listbox aria-label="Grafik proizvodnje za godinu">
      @for (item of orderYearsKeys(); track $index) {
      <mat-chip-option 
        (click)="changeOrdersYear(+item)"
        [selected]="selectedYear() === +item">
        {{ item }}
      </mat-chip-option>
      }
    </mat-chip-listbox>
    <app-chart-line
      [data]="orderByMonthValues()"
      [opt]="productOrdersMonthlyOptionsLineChart()"
    />
    }
  </mat-tab>
</mat-tab-group>
