@if(chartOptions().chart.type === 'bar') {
<apx-chart
  #chartObj
  [series]="chartOptions().series"
  [chart]="chartOptions().chart"
  [xaxis]="chartOptions().xaxis"
  [colors]="['#eb1616', '#388e3c', '#ffc107', '#F46036', '#E2C044']"
/>
} @else if (chartOptions().chart.type === 'pie') {
<apx-chart
  #chartObj
  [series]="chartOptions().series"
  [chart]="chartOptions().chart"
  [labels]="chartOptions().labels"
  [dataLabels]="chartOptions().dataLabels"
  [tooltip]="chartOptions().tooltip"
  [legend]="chartOptions().legend"
  [colors]="['#eb1616', '#2E294E', '#ffc107', '#F46036', '#E2C044']"
/>
} @else if (chartOptions().chart.type === 'line') {
<apx-chart
  #chartObj
  [series]="chartOptions().series"
  [chart]="chartOptions().chart"
  [xaxis]="chartOptions().xaxis"
  [dataLabels]="chartOptions().dataLabels"
  [grid]="chartOptions().grid"
  [stroke]="chartOptions().stroke"
  [title]="chartOptions().title"
  [colors]="['#eb1616', '#2E294E', '#ffc107', '#F46036', '#E2C044']"
/>
}
