<div class="row grid gap-4 grid-flow-col justify-stretch">
  <app-card>
    <h6 class="!mb-6 text-xl font-bold">{{ selectedClient()?.name }}</h6>
    <p>Adresa: {{ selectedClient()?.address }}</p>
    <p>Telefon: {{ selectedClient()?.contact }}</p>
    <p>Napomena: {{ selectedClient()?.note || "/" }}</p>
  </app-card>
  <app-card>
    <app-title-card>Naručeno po mesecima</app-title-card>
    <app-chart-column [data]="chartData()" />
  </app-card>
</div>
<div class="row grid  gap-4">
  <app-card>
    <app-title-card>Dodaj porudžbenicu</app-title-card>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <div class="flex gap-4">
            <mat-form-field class="w-1/2">
              <mat-label>Proizvod</mat-label>
              <mat-select
                formControlName="product"
                matNativeControl
                required
                (selectionChange)="onSelectProduct($event.value)"
              >
                @for (product of allProducts(); track product) {
                <mat-option [value]="product.id">
                  {{ product.product }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-1/2">
              <span class="text-red-800 text-xs"> </span>
              <mat-label>Količina {{ productQuantity() }}</mat-label>
              <input
                formControlName="quantity"
                matInput
                [max]="+productQuantity()"
                type="number"
              />
              <mat-error class="text-red-800 text-xs">
                Na stanju:
                <strong class="text-red-800 text-xs">{{
                  productQuantity()
                }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex gap-4">
            <mat-form-field class="w-1/2">
              <mat-label>Datum unosa</mat-label>
              <input
                formControlName="date"
                matInput
                [matDatepicker]="date"
                [max]="form.get('dateDelivery')?.value"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="date"
              ></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-1/2">
              <mat-label>Datum dostave</mat-label>
              <input
                formControlName="dateDelivery"
                matInput
                [matDatepicker]="dateDelivery"
                [min]="form.get('date')?.value"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dateDelivery"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateDelivery></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex gap-4">
            <mat-form-field class="w-1/2">
              <mat-label>Napomena</mat-label>
              <input formControlName="note" matInput value="" />
            </mat-form-field>
            <div class="flex gap-10 w-1/2">
              <mat-slide-toggle formControlName="paid"
                >Plaćeno</mat-slide-toggle
              >
              <mat-slide-toggle formControlName="delivered"
                >Isporučeno</mat-slide-toggle
              >
            </div>
          </div>
        </div>

        <button mat-flat-button type="submit">Potvrdi</button>
      </form>
    </div>
  </app-card>
</div>
<div class="row grid gap-4">
  <app-card>
    <app-title-card>Lista porudžbenica</app-title-card>
    <div class="">
      <table mat-table [dataSource]="dataSource">
        <!-- # Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index" class="w-12">
            {{ i + 1 }}.
          </td>
        </ng-container>

        <!-- Product Column -->
        <!-- <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef>Klijent</th>
          <td mat-cell *matCellDef="let element">
            {{ element.clientName }}
          </td>
        </ng-container> -->

        <!-- productName Column -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Proizvod</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productName }}
          </td>
        </ng-container>
        <!-- Amount Column -->
        <!-- <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>Proizvod</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productId }}
          </td>
        </ng-container> -->

        <!-- quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Količina</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id == editOrder()?.id) {

            <mat-form-field style="max-width: 130px">
              <mat-label>Količina {{ productQuantity() }}</mat-label>
              <input
                [(ngModel)]="editOrder!().quantity"
                matInput
                [max]="+productQuantity()"
                type="number"
              />
              <mat-error class="text-red-800 text-xs">
                Na stanju:
                <strong class="text-red-800 text-xs">{{
                  productQuantity()
                }}</strong>
              </mat-error>
            </mat-form-field>
            } @else {
            {{ element.quantity }}
            }
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Datum upisa</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id == editOrder()?.id) {
            <mat-form-field style="max-width: 170px">
              <mat-label>Datum upisa</mat-label>
              <input
                (ngModel)="(editOrder().date)"
                [formControl]="editOrder().date"
                matInput
                [matDatepicker]="date"
                [max]="editOrder().dateDelivery.value"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="date"
              ></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
            </mat-form-field>

            } @else {
            {{ element.date | date : "dd.MM.yyyy" }}
            }
          </td>
        </ng-container>

        <!-- dateDelivery Column -->
        <ng-container matColumnDef="dateDelivery">
          <th mat-header-cell *matHeaderCellDef>Datum dostave</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id == editOrder()?.id) {
            <mat-form-field style="max-width: 170px">
              <mat-label>Datum dostave</mat-label>
              <input
                (ngModel)="(editOrder().dateDelivery)"
                [formControl]="editOrder().dateDelivery"
                matInput
                [matDatepicker]="dateDelivery"
                [min]="editOrder().date.value"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dateDelivery"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateDelivery></mat-datepicker>
            </mat-form-field>
            } @else {
            {{ element.dateDelivery | date : "dd.MM.yyyy" }}
            }
          </td>
        </ng-container>

        <!-- paid Column -->
        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef>Plaćeno</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id == editOrder()?.id) {
            <mat-slide-toggle [(ngModel)]="editOrder()!.paid" />
            } @else {
            <mat-icon
              [class]="element.paid ? 'text-green-700' : 'text-red-700'"
            >
              {{ element.paid ? "check_circle" : "cancel_circle" }}
            </mat-icon>
            }
          </td>
        </ng-container>

        <!-- delivered Column -->
        <ng-container matColumnDef="delivered">
          <th mat-header-cell *matHeaderCellDef>Isporučeno</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id == editOrder()?.id) {
            <mat-slide-toggle [(ngModel)]="editOrder()!.delivered" />
            } @else {
            <mat-icon
              [class]="element.delivered ? 'text-green-700' : 'text-red-700'"
            >
              {{ element.delivered ? "check_circle" : "cancel_circle" }}
            </mat-icon>
            }
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Napomena</th>
          <td mat-cell *matCellDef="let element">
            @if(element.id == editOrder()?.id) {
              <mat-form-field (click)="$event.stopPropagation()">
                <mat-label>Napomena</mat-label>
                <input matInput [(ngModel)]="editOrder()!.note" />
              </mat-form-field>
              } @else {
              {{ element.note }}
              }
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="w-36 !text-right">
            <div class="inline mr-8">
              @if(element.id == editOrder()?.id) {
              <button (click)="onCancel()" class="mr-2">
                <mat-icon class="text-red-700">cancel</mat-icon>
              </button>
              <button (click)="onEditOrderConfirmed()">
                <mat-icon class="text-green-700">check_circle</mat-icon>
              </button>
              } @else {
              <button (click)="onEditOrder(element)">
                <mat-icon class="text-green-700">edit</mat-icon>
              </button>
              }
            </div>
            <button (click)="onDeleteOrder(element.id)">
              <mat-icon class="text-red-700">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </app-card>
</div>
