<div class="row grid grid-flow-col justify-stretch gap-4">
  <app-card>
    <h6 class="mb-2 text-xl font-bold">Svece</h6>
    <p>Detalji o proizvodu</p>
  </app-card>
  <app-card>
    <p>grafik stanja</p>
  </app-card>
</div>
<div class="row grid gap-4">
  <app-card>
    <p>Todo list</p>
  </app-card>
</div>
<div class="row grid grid-flow-col justify-stretch gap-4">
  <app-card>
    <p>Proizvedi</p>
    <p>Forma (datum, kolicina)</p>
  </app-card>
  <app-card>
    <p>kalendar proizvodnje</p>
  </app-card>
</div>

<div class="row gap-4">

  <app-card>
    <p>grafik proizvodnje po mesecima</p>
  </app-card>
</div>
