/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

* {
  color: #a0a5c1;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.row {
  padding: 15px 15px 0 15px;
}

.mat-mdc-paginator,
.mat-mdc-table {
  background-color: inherit !important;
}

.mat-mdc-header-cell {
  font-weight: bold !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border-bottom-color: #000000 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #000000 !important;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #eb1616 !important;
  border-radius: 5px;
}

.mdc-button__label {
  color: #ffffff !important;
}

.mat-primary {
  --mat-stepper-header-selected-state-icon-background-color: #eb1616;
  --mat-stepper-header-selected-state-icon-foreground-color: #850808;
  --mat-stepper-header-edit-state-icon-background-color: #eb1616;
  --mat-stepper-header-edit-state-icon-foreground-color: #850808;

  --mat-full-pseudo-checkbox-selected-icon-color: #eb1616;
  --mat-full-pseudo-checkbox-selected-checkmark-color: #850808;
}

.mat-accent.mat-mdc-slide-toggle,
.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #eb1616;
  --mdc-switch-selected-handle-color: #eb1616;
  --mdc-switch-selected-hover-state-layer-color: #eb1616;
  --mdc-switch-selected-pressed-state-layer-color: #f9b9b9;
  --mdc-switch-selected-focus-handle-color: #850808;
  --mdc-switch-selected-hover-handle-color: #850808;
  --mdc-switch-selected-pressed-handle-color: #850808;
  --mdc-switch-selected-focus-track-color: #eabfbf;
  --mdc-switch-selected-hover-track-color: #eabfbf;
  --mdc-switch-selected-pressed-track-color: #eabfbf;
  --mdc-switch-selected-track-color: #eabfbf;
  --mdc-switch-selected-icon-color: #ffc3c3;
}

html {
  --mdc-filled-text-field-caret-color: #eb1616 !important;
  --mdc-filled-text-field-focus-active-indicator-color: transparent;
  --mdc-filled-text-field-focus-label-text-color: #ffabf3;
  --mdc-filled-text-field-container-color: #4e444b;
  --mdc-filled-text-field-disabled-container-color: rgba(233, 224, 228, 0.04);
  --mdc-filled-text-field-label-text-color: #eedee7;
  --mdc-filled-text-field-hover-label-text-color: #eedee7;
  --mdc-filled-text-field-disabled-label-text-color: rgba(233, 224, 228, 0.38);
  --mdc-filled-text-field-input-text-color: #e9e0e4;
  --mdc-filled-text-field-disabled-input-text-color: rgba(233, 224, 228, 0.38);
  --mdc-filled-text-field-input-text-placeholder-color: #eedee7;
  --mdc-filled-text-field-error-hover-label-text-color: #eb1616 !important;
  --mdc-filled-text-field-error-focus-label-text-color: #eb1616 !important;
  --mdc-filled-text-field-error-label-text-color: #eb1616 !important;
  --mdc-filled-text-field-error-active-indicator-color: #eb1616 !important;
  --mdc-filled-text-field-active-indicator-color: transparent;
}
